In [14]:
# Load Imports
import os
import json
from web3 import Web3
from pathlib import Path
from dotenv import load_dotenv
import streamlit as st
import pandas as pd

In [15]:
# Load your employee dataset
employees = pd.read_csv('fake_employee.csv')
# converting from float to int
employees['employee_id'] = employees['employee_id'].astype(int)
# converting from float to int
employees['Last_4_SSN'] = employees['Last_4_SSN'].astype(int)
 
# displaying the datatypes
def verify_employee(name, phoneNumber, ssnLast4, employeeId):
    return any(
        (employees['name'] == name) &
        (employees['phone_number'] == phoneNumber) &
        (employees['Last_4_SSN'] == ssnLast4) &
        (employees['employee_id'] == employeeId)
    )

In [22]:
verify_employee("Martha Hutchinson",6230384053,1533,6612)

True

In [17]:
(employees['name'] == "Martha Hutchinson")

0      True
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: name, Length: 100, dtype: bool

In [19]:
(employees['phone_number'] == 6230384053)

0      True
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: phone_number, Length: 100, dtype: bool

In [20]:
(employees['Last_4_SSN']== 1533)

0      True
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: Last_4_SSN, Length: 100, dtype: bool

In [7]:
(str(employees['Last_4_SSN']))

'0      1533.0\n1      4697.0\n2      1235.0\n3      6215.0\n4      4681.0\n        ...  \n353       NaN\n354       NaN\n355       NaN\n356       NaN\n357       NaN\nName: Last_4_SSN, Length: 358, dtype: object'

In [21]:
employees

,Unnamed: 0,employee_id,name,dates_of_birth,phone_number,Last_4_SSN
0,0,6612,Martha Hutchinson,11/14/1970,6230384053,1533
1,1,4793,Meghan Cervantes,8/20/1992,7208193673,4697
2,2,8832,April Hanna,4/17/1986,4807207696,1235
3,3,7044,George Yang,3/15/2001,4804826262,6215
4,4,4498,Joseph Patrick,10/9/1998,7204132278,4681
...,...,...,...,...,...,...
95,95,5347,Amy Alvarez,3/30/1979,7208665284,7498
96,96,1985,Robert Powers,2/26/1965,7209484637,7489
97,97,8202,Kenneth Hernandez,3/6/1968,7207337043,7695
98,98,8672,Brian King,1/28/1970,6236579804,5602
99,99,8304,Joshua Duncan,2/22/1995,6235789001,8563

In [9]:
print (employees.dtypes)

Unnamed: 0        float64
employee_id        object
name               object
dates_of_birth     object
phone_number       object
Last_4_SSN         object
dtype: object

In [10]:
# displaying the datatypes
display(employees.dtypes)

Unnamed: 0        float64
employee_id        object
name               object
dates_of_birth     object
phone_number       object
Last_4_SSN         object
dtype: object

In [11]:
# converting from float to int
employees['employee_id'] = employees['employee_id'].astype(object)
 
# displaying the datatypes
display(employees.dtypes)

Unnamed: 0        float64
employee_id        object
name               object
dates_of_birth     object
phone_number       object
Last_4_SSN         object
dtype: object

In [12]:
# converting from float to int
employees['Last_4_SSN'] = employees['Last_4_SSN'].astype(object)
 
# displaying the datatypes
display(employees.dtypes)

Unnamed: 0        float64
employee_id        object
name               object
dates_of_birth     object
phone_number       object
Last_4_SSN         object
dtype: object